body {
    font-family: 'Courier';
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #cfe2f3;
}

#game {
    width: 60%;
    margin-top: 0;
    background-color: #ffffff;
}

#game #top{ 
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 20%; 
}

#game h2 {
    margin-top: 0;
}

#options {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

#options a {
    flex: 1;
}

#options a img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

#result {
    font-family: 'Courier';
    font-size: 15px;
    margin-bottom: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    max-width: 80%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#modalImage {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo según tus preferencias */
    height: auto;
}

@media only screen and (max-width: 600px) {
    /* Estilos adicionales para pantallas más pequeñas (ajusta según sea necesario) */
    #game {
        width: 90%;
    }

    #options {
        margin-left: 10px;
    }
}
